extends partial/base

block description
    meta(name="description", content="The archive of all posts")

block site_title
    = "Archive of " + config.title

block header
    header.header-section
        .intro-header(style='background-image: url(/img/archive-bg.jpg);')
            .container
                .row
                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                        .page-heading
                            h1!= "Archive"
                            hr.small
                            span.page-subheading!="The archive of all posts"
            span.img-desc

block content
    .container
        .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-xs-12.col-xs-offset-0
                ul.archive-list
                    - var prev_year = 0;
                    - site.posts.sort('date').reverse().each(function(post) {
                    - var current_year = full_date(post.date, 'YYYY')-0;
                    if current_year !== prev_year
                        h2= current_year
                    - prev_year=current_year;
                    li.col-lg-offset-1.col-md-offset-1
                        span.post-meta= full_date(post.date, 'MMM D')
                        a.post-title(href=url_for(post.path))= post.title
                    - })



