mixin post_card(post, options = {})
    article.card.shadow-sm(itemscope itemtype="http://schema.org/Article")
        .card-header(itemprop="image" style="background-image: url('" + url_for(post.card || post.eyeCatchImage) + "')")
            .mask
            h3.h5.text-left.font-weight-bold.text-white(itemprop="name")
                if options.category !== false
                    - post.categories.each(category => {
                        div
                            a.category=category.name
                    - })
                div.title=post.title
        .card-body
            +post_meta(post)
            if options.description !== false
                - var excerpt = strip_html(post.excerpt)
                p.card-text.pt-3(itemprop="description")
                    != options.truncate > 0 ? truncate(excerpt, {length: options.truncate, omission: " ... "}) : excerpt
        a.stretched-link(href=url_for(post.path) itemprop="url")

mixin post_meta(post, options = {})
    section.post-meta
        ul
            li
                time(class=options['date-class'] datetime=date_xml(post.date), itemprop="datePublished")!= full_date(post.date, "MMM D, YYYY")
            li=readingTime(post.content, 'min. read', 200)
            li
                a(href=config.url + url_for(post.path) + "#disqus_thread")="0 Comments"