extends layout/base

block content
    main#page-home(role="main")
        section.jumbotron.text-center.pb-5
            .container
                img.rounded-circle.shadow-sm(src=config.photo width="100px")
                h1 Hi! I'm Szymon
                p!=config.bio

                - var latest = site.posts.sort("date").reverse().limit(9).toArray();
                - var posts = _.chunk(latest, 3)
                - var carouselId = "recentArticles"

            div.carousel.slide.pt-4(id=carouselId data-ride="carousel" data-interval="118000")
                .container
                    ol.carousel-indicators
                        li(data-target="#"+carouselId data-slide-to="0" class="active")
                        li(data-target="#"+carouselId data-slide-to="1")
                        li(data-target="#"+carouselId data-slide-to="2")
                    </ol>
                    div.carousel-inner
                        each group, index in posts
                            div.carousel-item(class=index === 0 ? "active" : "")
                                .card-deck
                                    each post in group
                                        +post_card(post)
                a.carousel-control-prev(href="#"+carouselId role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only="Previous"
                a.carousel-control-next(href="#"+carouselId role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only="Next"
