extends layout/base

block footer_ad
    +ad_banner(site.data.home.ads.footer)

block content
    main#page-home(role="main")
        section.jumbotron.text-center.pb-5
            .mask
            .container
                .author.position-relative
                    img.rounded-circle.shadow-sm(src=config.photo width="100px")
                    h1.my-3 Hi! I'm Szymon
                    p.lead.my-2.px-0.px-md-5!=config.bio
                    a.stretched-link(href=url_for("/about"))

                - var latest = site.posts.sort("date").reverse().limit(9).toArray();
                - var posts = _.chunk(latest, 3)
                - var carouselId = "recentArticles"

            .carousel.slide.pt-4(id=carouselId data-ride="carousel" data-interval="8000")
                .container
                    .carousel-inner.row.w-100.mx-auto
                        each post,index in latest
                            .carousel-item.col-md-4(class=index === 0 ? "active" : "")
                                +post_card(post)
                a.carousel-control-prev(href="#"+carouselId role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only="Previous"
                a.carousel-control-next(href="#"+carouselId role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only="Next"

        - var home = site.data.home

        section.sec.most-popular-posts
            .container
                h2 Most popular posts #[span.small (last 28 days)]
                - var popular = site.posts.find({slug: {$in: home.posts }}).toArray().sort((a,b) => home.posts.indexOf(a.slug) - home.posts.indexOf(b.slug))

                .row
                    each post,idx in popular
                        .col-12.offset-0.col-md-10.offset-md-1.post.my-3
                            .rank
                                span #{idx+1}.
                            .data
                                .category
                                    each category in post.categories.toArray()
                                        a.category(href=url_for(category.path))!=category.name
                                h3
                                    a(href=url_for(post.path)) #{post.title}

                                p.lead
                                    != strip_html(post.excerpt)
                                    |
                                    |
                                    a.font-weight-bold(href=url_for(post.path)) Read more &raquo;

        section.sec.latest-comments.bg-light-blue
            .container
                h2 Latest comments

                .row
                    .col-12.col-lg-9
                        script(src="https://eprintstacktrace.disqus.com/recent_comments_widget.js?num_items=4&hide_avatars=0&avatar_size=48&excerpt_length=200")
                    .col-12.col-lg-3.pt-3.text-center
                        +ad_banner(site.data.home.ads.comments)


        - var video_id = site.data.home.youtube.latest[0]
        - var video = site.data.youtube[video_id]

        section.sec.latest-video
            .container
                h2
                    | Latest
                    |
                    span.d-block.d-md-inline-block
                        em.fa.fa-youtube.mx-1
                        span.youtube YouTube
                    |
                    | videos
                .row
                    .col-12.col-md-7.pr-md-5.order-1.order-md-0
                        h4.mb-3 #{video.title}
                        p.desc #{video.description}
                        p.text-center.py-3
                            a.btn.btn-danger.text-white(href="https://www.youtube.com/watch?v=" + video_id) Watch now
                            br
                            span.d-inline-block.mt-3.small.text-muted and don't forget to subscribe #[em.far.fa-smile-wink]

                    .col-12.col-md-5.order-0.order-md-1
                        .mt-0.mt-md-3.mb-4.mb-md-0
                            +youtube_card(video_id, video, { title: false })

        section.sec.bg-light-blue
            .container
                .row
                    .col-12
                        .card-deck
                            each video in site.data.home.youtube.latest.slice(1,4)
                                +youtube_card(video, site.data.youtube[video], { title: false })

        section.sec.newsletter#newsletter
            .container
                .row
                    //.col-12.col-md-3.mb-md-0.mb-5.order-1.order-md-0
                    //    img.shadow.img-fluid(src=url_for("/images/convertkit/home.jpg"))
                    .col-12.col-md-10.offset-0.offset-md-1.text-center.order-0.order-md-1
                        h2.text-underline-error Sign up to my newsletter
                        //p.text-center.mt-4
                        //    | and grab a PDF #[b "How To Become A Better Groovy Developer"] now!
                        p.text-center.small.mt-4
                            | #[em.fa.fa-ban.font-weight-bold.color-red] #[b No spam] guaranteed. Weekly updates only. Unsubscribe at any time.
                        != convertkit(site.data.home.convertkit)

