footer.site-footer
    div.inner
        section.copyright.
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>

        section.poweredby
            ul
                li
                    span="Published with "
                    a(href="https://hexo.io")="Hexo"
                li
                    span="Hosted on "
                    a(href="https://github.com/wololock/wololock.github.io")
                        span.fa.fa-github
                li
                    span="Deployed with "
                    a(href="https://travis-ci.org/wololock/wololock.github.io")="Travis CI"

                if config.rss
                    li
                        span="Subscribe "
                        a(href=config.rss)
                            span.fa.fa-rss


