footer.site-footer
    div.inner
        section.copyright.
            All content copyright &copy; 2017 &bull; All rights reserved.
        section.poweredby
            ul
                li
                    span="Published with "
                    a(href="https://hexo.io")="Hexo"
                li
                    span="Hosted on "
                    a(href="https://github.com/wololock/wololock.github.io")
                        span.fa.fa-github
                li
                    span="Deployed with "
                    a(href="https://travis-ci.org/wololock/wololock.github.io")="Travis CI"

                if config.rss
                    li
                        span="Subscribe "
                        a(href=config.rss)
                            span.fa.fa-rss


