meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)
meta(name="robots", content="all")

title
   block site_title
       = page.title || config.title
block description
    meta(name="description", content=config.description)

if page.tags !== undefined && page.tags.length > 0
    meta(name="keywords", content=page.tags.map(function(tag){ return tag.name }).join(","))

<!-- https://www.iconfinder.com/icons/16140/bug_icon -->
link(rel="shortcut icon", type="image/png", href=url_for("/favicon.png"))

link(rel="dns-prefetch", href="//cdnjs.cloudflare.com")
link(rel="dns-prefetch", href="//maxcdn.bootstrapcdn.com")
link(rel="dns-prefetch", href="//disqus.com")
link(rel="dns-prefetch", href="//c.disquscdn.com")


| !{ autoCanonical(config, page) }
link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))

link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

if theme.highlight.enable
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/androidstudio.min.css")

link(rel="stylesheet", href=url_for("/css/main.css?v=" + config.version.css))
link(rel="stylesheet", href=url_for("/css/conum.css?v=" + config.version.css))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)

!= open_graph({ image: page.og_image || null, twitter_id: 'wololock', twitter_card: 'summary_large_image' })

block structured_data