include post-meta

mixin post_preview(post)
    article.post-preview
        header.post-header
            if post.categories
                - post.categories.each(function(category) {
                a.category(href=url_for(category.path))=category.name
                - })
            a(href=url_for(post.path))
                h2.post-title!= post.title
                if post.subtitle
                    h3.post-subtitle!= post.subtitle
        section.post-excerpt!= post.excerpt
        +post_meta(post)
        p.post-read-more
            a.btn.btn-default(href=url_for(post.path) + '#more')="Read more →"
