section.post-tags
    - page.tags.each(function(tag) {
    a.tag.post-meta(href=url_for(tag.path))="#"+tag.name
    - })

footer.post-footer
    img.img-responsive.img-circle(src=config.photo)

    .row.author
        .col-lg-8.col-lg-offset-2.col-xs-10.col-xs-offset-1
            h4=config.author
            p!=config.bio
            ul.social-links
                each value, key in theme["footer"]
                    li
                        a(href=value.link, onclick="window.open(this.href);return false;")
                            span.fa(class=value.icon)

