a.stack-overflow(href=config.stackoverflow.profile)
    img(src="/img/so.png", class="so-icon")
    b.rep=config.stackoverflow.reputation
    span.badges
        span.gold
            span.b="●"
            span.c=config.stackoverflow.gold
        span.silver
            span.b="●"
            span.c=config.stackoverflow.silver
        span.bronze
            span.b="●"
            span.c=config.stackoverflow.bronze