footer.post-footer
    .container
        .row
            .col-12.offset-0.col-md-10.offset-md-1
                .about-author
                    .row
                        .col-md-2.col-6.offset-md-0.offset-3.text-center.mt-4
                            img.rounded-circle.img-fluid(src=config.photo)
                        .col-md-10.col-12.text-md-left.text-center.mt-md-4.mt-1
                            h4.text-md-left.text-center
                                a.gatr(href=url_for("/about") data-type="post-footer" data-name="About")=config.author
                            p.bio
                                span!=config.bio
                                span.ml-2
                                    a(href=url_for("/about")) More about me &raquo;

                            ul.social-links.text-md-left.text-center
                                each value, key in theme.footer
                                    li
                                        a.gatr(href=value.link, onclick="window.open(this.href);return false;" data-type="post-footer" data-name=key)
                                            span.fa(class=value.icon)

        .row.mt-lg-2.mt-3.h6.pager
            .col-lg-6.col-12.text-lg-left.text-center.py-3
                if page.next
                    a.gatr(href=url_for(page.next.path) data-type="prev-post" data-name=page.next.title title=page.next.title)
                        | &laquo; Previous:
                        |
                        b #{page.next.title}

            .col-lg-6.col-12.text-lg-right.text-center.py-3
                if page.prev
                    a.gatr(href=url_for(page.prev.path) data-type="next-post" data-name=page.prev.title title=page.prev.title)
                        | Next:
                        |
                        b #{page.prev.title}
                        |
                        | &raquo;
