meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="author", content=config.author)
meta(name="robots", content="index, follow")

if page.tags
    meta(name="keywords" content=page.tags.map(function(tag){ return tag.name }).join(","))

title=page.title

!= open_graph({ image: page.og_image || null, twitter_id: 'wololock', twitter_card: 'summary_large_image' })

link(rel="dns-prefetch" href="//fonts.googleapis.com")
link(rel="dns-prefetch" href="//cdnjs.cloudflare.com")
link(rel="dns-prefetch" href="//cdn.jsdelivr.net")

link(rel="canonical" href=full_url_for(page.canonical_path))

link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@300;400;700&family=VT323&family=DM+Mono:wght@400;500&family=Poppins:wght@500;700;800&display=swap" rel="stylesheet")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous")
link(rel="stylesheet" href=url_for(`/css/main.css?v=${config.version.css}`))

if page.highlightjs
    link(rel="stylesheet", href=url_for(`/css/highlight.css?v=${config.version.css}`))

link(rel="shortcut icon", type="image/png", href=url_for("/favicon_new.png"))

block structured_data