a.gatr(href=ad.url data-type="banner" data-name=id target="_blank")
    each banner in ad.images
        - var display = banner.display.map(val => `d-${val}-inline-block`).join(" ")
        img.d-none.img-fluid(data-lazy=banner.img class=display)