.get-the-book.my-5
    .container
        .row
            .col-12
                .row
                    .col-md-3.text-center
                        .shadow-sm.d-inline-flex.img-fluid
                            img.img-fluid(src=image alt=title)
                    .col-md-9
                        h3.text-md-left.text-center #{title}
                        p.description
                            span!=description
                            |
                            |
                            span (source: #[a(href=source.url)=source.name])

                        .row
                            each link in links
                                .col-md-6.col-8.mb-2.offset-2.offset-md-0
                                    img(no-lazy src="/images/flags/" + link.flag + ".png")
                                    span.ml-2
                                        a(href=link.url)=link.text

                    .col-12.py-2.affiliate-info
                        i.fas.fa-info-circle
                        span The above links are <b>affiliate links</b>. If you decide to buy a book using my affiliate link, I will get a small percentage from your purchase. The affiliate link does not affect the final price of the product. Using it costs you nothing.