
.get-the-book.my-5(data-debug=`Displayed book: ${title}`)
    .container
        .row
            .col-12
                .row
                    .col-md-3.text-center
                        .px-4
                            .shadow.d-inline-flex.img-fluid.mb-5
                                img.img-fluid(src=cover alt=title)

                    .col-md-9
                        h3.text-md-left.text-center #{title}

                        p.description
                            span!=description.content
                            |
                            |
                            span.small (source: #[a(href=description.url)=description.source])

                        each link in links
                            a.btn.btn-warning.mr-2.mb-2.btn-sm.shadow-sm(href=link.url)
                                i.fa.fa-amazon
                                span.ml-2!=link.text

                        .mt-4.affiliate-info
                            i.fas.fa-info-circle.mr-2
                            span The above links are <b>affiliate links</b>. If you decide to buy a book using my affiliate link, I will get a small percentage from your purchase. The affiliate link does not affect the final price of the product. Using it costs you nothing.

script(type="application/ld+json")!=JSON.stringify(ld_json)