header#header.fixed-top
    .container
        nav.navbar.navbar-light.mx-0.px-0(class=is_post() ? "justify-content-start" : "justify-content-end")
            a.gatr(href=url_for("/") data-type="nav" data-name="Home") Home
            a.gatr(href=url_for("/about") data-type="nav" data-name="About") About
            a.gatr(href=url_for("/archives") data-type="nav" data-name="Archives") Archives
            a.gatr(href=url_for("/resources") data-type="nav" data-name="Tools & Resources") Tools & Resources
            a.gatr(href=url_for("/support-me") data-type="nav" data-name="Support me") Support me
